/* header */

.header-top {
	background: #264ba6;
	padding: 7px 0;
	color: $orange;
}

.header-top__info-title {
	font-size: 16px;
	margin-right: 25px;
	display: inline-block;
}

.header-top__info-description {
	text-transform: uppercase;
	@include font(bold);
	font-size: 16px;
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}
}

.header-middle {
	padding: 5px 0;
}

.header__logo-text {
	padding: 24px 0;
	text-transform: uppercase;
	font-size: 26px;
	@include font(bold);
}

.header-middle__basket {
	@include linksHover();
	position: relative;
	margin-left: 145px;
	margin-right: 10px;
}

.header-middle__basket-circle {
	width: 54px;
	height: 54px;
	background: $blue;
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 5px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);

	&:before {
		@extend %center;
		left: 46%;
		@include get-sprite($main-spr, basket);
		transform: translate(-50%, -50%) scale(0.8);
	}
}

.header-middle__basket-text {
	@include font(bold);
	font-size: 12px;
	text-transform: uppercase;
}

.header-middle__basket-count {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: $red;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	@include font(bold);
	top: 0;
	right: -10px;
}

.header-middle__info {
	padding: 10px 0;
}

.header-middle__info-tel {
	margin-bottom: 8px;
	position: relative;
	padding-left: 50px;
	font-size: 18px;
	@include font(bold);

	&:last-child {
		margin-bottom: 0;
	}

	&.mts:before {
		left: 0;
		@extend %icons;
		@include get-sprite($main-spr, mts);
	}

	&.velcom:before {
		left: -5px;
		@extend %icons;
		@include get-sprite($main-spr, Velcom);
	}
}

.header-bottom {
	background: $blue;
	padding: 5px 0;
}

.header-nav__list {
	font-size: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header-nav__item {
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.header-nav__link,
.header-nav__link:focus {
	transition: all 0.3s;
	color: $orange;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 20px;
	@include font(bold);

	&:hover {
		background: $orange;
		color: $blue;
		border-radius: 4px;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	}
}

/* header..end */

/* selection-block */

.selection-block {
	padding-top: 25px;
	background: image-url('selection-bg.png');

	.selection-tabs-list {
		display: inline-block;
		font-size: 0;
	}

	.selection-tabs-item {
		@include linksHover();
		display: inline-block;
		font-size: 18px;
		color: black;
		text-transform: uppercase;
		@include font(bold);
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			color: $red;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.selection-block__help-button,
.selection-block__help-button:hover,
.selection-block__help-button:focus {
	@include linksHover();
	display: inline-block;
	padding: 3px 25px 3px 10px;
	margin-right: 20px;
	position: relative;
	color: $blue;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #98a9d2;

	&:before {
		text-transform: none;
		@extend %icons;
		right: -10px;
		width: 30px;
		height: 30px;
		background: #98a9d2;
		border-radius: 50%;
		content: "i";
		@include font(bold);
		text-align: center;
		line-height: 30px;
		color: #fff;
	}
}

/* select 2 */

.select2-search--dropdown {
	display: none;
}

.select_small + .select2-container {
	width: 130px !important;
}

.select_normal + .select2-container {
	width: 225px !important;
}

.select_big + .select2-container {
	width: 335px !important;
}

.hits-select + .select2-container {
	width: 67px !important;

	.select2-selection {
		height: 27px;
		line-height: 25px;
		padding: 0 30px 0 10px;
		box-shadow: none;
		border: 1px solid #a7a7a7;
		border-radius: 3px;
	}

	.select2-selection__arrow {
		right: 0;
		position: absolute;
		display: block;
		height: 100%;
		content: "";
		width: 25px;
		top: 0;

		&:before {
			@extend %center;
			@include get-sprite($main-spr, carret-down_black);
		}
	}
}

.select2-container {
	outline: none;
	display: block;

	.selection {
		display: block;
		width: 100%;

		.select2-selection {
			outline: 1px solid transparent;
			width: 100%;
			height: 48px;
			border-radius: 3px;
			padding: 0 15px;
			line-height: 48px;
			font-size: 16px;
			@include font(bold);
			color:black;
			text-transform: uppercase;
			border: none;
			box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
		}

		.select2-selection__rendered {
			width: 100%;
			line-height: inherit !important;
			padding-left: 0 !important;
			padding-right: 40px !important;
			color: black;
		}

		.select2-selection__arrow {
			transition: all 0.3s;
			right: 0;
			position: absolute;
			display: block;
			height: 100%;
			content: "";
			width: 47px;
			top: 0;
			border-left: 1px solid #bcbec1;

			&:before {
				display: block;
				position: absolute;
				content: "";
				transform: translate(-50%, -50%);
				left: 50%;
				top: 50%;
				@include get-sprite($main-spr, carret-down_red);
			}

			b {
				display: none;
			}
		}
	}
}

.select:not(.hits-select) + .select2-container--open {
	.selection {
		.select2-selection__arrow {
			background: $blue;
			border-radius: 0px 3px 3px 0;

			&:before {
				@include get-sprite($main-spr, carret-down_white);
			}
		}
	}
}

.select:not(.hits-select) + .select2:hover {
	.select2-selection__arrow {
		background: $blue;
		border-radius: 0px 3px 3px 0;

		&:before {
			@include get-sprite($main-spr, carret-down_white);
		}
	}
}

.select2-results__option {
	padding: 5px 15px;
	text-transform: uppercase;
	@include font(bold);
	font-size: 16px;
	color: black;
}

.select2-dropdown {
	border: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 400px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: $blue;
}

.hits-select + .select2-container {
	width: 67px !important;

	.select2-selection {
		height: 30px;
		line-height: 27px;
		padding: 0 30px 0 10px;
		box-shadow: none;
		border: 1px solid #a7a7a7;
		border-radius: 3px;
	}

	.select2-selection__arrow {
		right: 0;
		position: absolute;
		display: block;
		height: 100%;
		content: "";
		width: 25px;
		top: 0;
		border: none;

		&:before {
			@extend %center;
			@include get-sprite($main-spr, carret-down_black);
		}
	}
}

.hits-select-select2-dropdown {
	.select2-results__option {
		padding: 5px 12px;
		text-transform: uppercase;
		font-family: 'opensans-bold';
	}
}

/* select 2 ...end */

.tab-pane__right {
	padding-top: 30px;
	padding-bottom: 30px;
}

.tab-model {
	.tab-pane__right {
		padding-bottom: 5px;
	}
}

.tab-right__list {
	flex-wrap: wrap;
	width: 100%;
	font-size: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tab-right__list_margin {
	margin-bottom: 0;
}

.tab-right__item {
	display: inline-block;
	margin-bottom: 25px;

	&:last-child {
		margin-right: 0;
	}
}

.tab-right__item-title {
	margin-bottom: 5px;
	font-size: 16px;
	color: #212832;
}

.tab-right__drop-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.tab-right__drop-list-drop-container {
	display: inline-block;

	&.open {
		.tab-right__drop-list-btn,
		.tab-right__drop-list-btn:hover,
		.tab-right__drop-list-btn:focus {
			&:before {
				background: $blue;
				border-radius: 0px 3px 3px 0;
			}

			&:after {
				@include get-sprite($main-spr, carret-down_white);
			}
		}
	}
}

.tab-right__drop-list-btn,
.tab-right__drop-list-btn:hover,
.tab-right__drop-list-btn:focus {
	width: 480px;
	height: 48px;
	line-height: 48px;
	position: relative;
	border-radius: 3px;
	padding: 0 15px;
	font-size: 16px;
	@include font(bold);
	color:black;
	text-transform: uppercase;
	background: #fff;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);

	&:before {
		transition: all 0.3s;
		width: 47px;
		@extend %pseudo;
		height: 100%;
		border-left: 1px solid #bcbec1;
		top: 0;
		right: 0;
	}

	&:after {
		@extend %icons;
		@include get-sprite($main-spr, carret-down_red);
		right: 14px;
	}

	&:hover {
		&:before {
			background: $blue;
			border-radius: 0px 3px 3px 0;
		}

		&:after {
			@include get-sprite($main-spr, carret-down_white);
		}
	}
}

.tab-pane__pick-up-btn,
.tab-pane__pick-up-btn:hover,
.tab-pane__pick-up-btn:focus {
	width: 225px;
	background: $red;
	color: #fff;
	height: 48px;
	line-height: 48px;
	border-radius: 3px;
	text-align: center;
	padding: 0 15px;
	text-transform: uppercase;
	@include font(bold);
	font-size: 18px;
	display: inline-block;
	transition: all 0.3s;
}

.btn_red,
.btn_red:focus {
	background: $red;
	transition: all 0.3s;

	&:hover {
		background: #e86253;
	}

	&:active {
		background: #a71d0e;
	}
}

.tab-pane {
	position: relative;
}

.tab-pane__left-container {
	position: absolute;
	bottom: 0px;
	margin-top: -27px;
	top: 0;
}

.tab-pane__left {
	width: 100%;
	height: 100%;
}

.tab-pane__left-img-container {
	position: absolute;
	bottom: 0;
}

.tab-pane__left-img {
	&.img-wheel {
		max-width: none;
		margin-left: -130px;
	}

	&.img-car {
		padding-bottom: 30px;
		max-width: none;
		margin-left: -80px;
	}

	&.img-disk {
		padding-bottom: 40px;
		max-width: inherit;
	}
}

.producer-check-label {
	cursor: pointer;
}

.producer-check-input-checkbox {
	display: none;
}

.producer-check-input-checkbox:checked + .producer-check-label-text:after {
	@extend %icons;
	width: 6px;
	height: 9px;
	left: 6px;
	top: 20%;
	border: solid #7b5f5f;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.producer-check-label-text {
	@include linksHover();
	text-transform: uppercase;
	color: #212832;
	padding-left: 30px;
	position: relative;
	font-size: 14px;

	&:before {
		@extend %icons;
		width: 18px;
		height: 18px;
		border: 1px solid #b4b4b4;
		border-radius: 2px;
		left: 0;
	}
}

.drop-pruducer-list {
	font-size: 0;
	margin-bottom: 25px;
}

.drop-producer-item {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.tab-dropdown-close-btn,
.tab-dropdown-close-btn:hover,
.tab-dropdown-close-btn:focus {
	right: 25px;
	top: 15px;
	@include linksHover();
	font-size: 12px;
	text-transform: uppercase;
	position: absolute;
	color: #212832;
	@include font(bold);
}

.tab-dropdown-bottom {
	margin-right: -25px;
	border-top: 1px solid #b4b4b4;
	padding: 20px 25px 20px 0;
	text-align: right;
}

.tab-dropdown-clear-btn,
.tab-dropdown-clear-btn:hover,
.tab-dropdown-clear-btn:focus {
	display: inline-block;
	margin-right: 40px;
	color: #212832;
	font-size: 12px;
	@include font(bold);
	text-transform: uppercase;
	@include linksHover();
}

.tab-dropdown-choose-btn,
.tab-dropdown-choose-btn:hover,
.tab-dropdown-choose-btn:focus {
	display: inline-block;
	border-radius: 3px;
	width: 140px;
	font-size: 12px;
	@include font(bold);
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.tab-right__drop-list-drop-container {
	.dropdown-menu {
		width: 750px;
		padding: 30px 25px 0 40px;
		border:none;
		top: 97%;
	}
}

.tab-dropdown-top {
	margin-bottom: 20px;
}

.producer-check-label-text_bold {
	@include font(bold);
}

.tab-right__item_flex {
	display: flex;
}

.tab-pane__pick-up-btn_flex {
	align-self: flex-end;
}

/* selection-block...end */


/* advantages-block */

.advantages-block {
	background: #fff;
	padding: 40px 0 30px;
}

.advantages-block__list {
	font-size: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.advantages-block__text {
	padding-top: 85px;
	font-size: 18px;
	text-align: center;
}

.advantages-block__item {
	position: relative;
	display: inline-block;

	&:before {
		@extend %pseudo;
		left: 50%;
		transform: translateX(-50%);
	}

	&.advantages-block__item_number-1 {
		&:before {
			@include get-sprite($main-spr, number-1);
		}
	}

	&.advantages-block__item_proff {
		&:before {
			left: 45%;
			@include get-sprite($main-spr, prof-consult);
		}
	}

	&.advantages-block__item_delivery {
		&:before {
			@include get-sprite($main-spr, dostavka);
		}
	}

	&.advantages-block__item_packets {
		&:before {
			@include get-sprite($main-spr, packets);
		}
	}

	&.advantages-block__item_garant {
		&:before {
			@include get-sprite($main-spr, garant);
		}
	}
}

/* advantages-block ...end */

/* slogan-block */

.slogan-block {
	background: $blue;

	.container {
		position: relative;
		padding: 115px 545px 45px 50px;
	}
}

.slogan-block__title {
	text-transform: uppercase;
	font-size: 38px;
	@include font(bold);
	color: $orange;
	margin-bottom: 15px;
}

.slogan-block__description {
	font-size: 24px;
	@include font(bold);
	color: #93a5d3;
}

.slogan-block__img-container {
	position: absolute;
	bottom: -85px;
	right: 80px;
}

/* slogan-block ... end */

/* hits-block */

.hits-block {
	padding: 190px 0 50px;
}

.hits-block__title {
	text-align: center;
	font-size: 30px;
	@include font(bold);
	color: #212832;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.hits-block__list {
	font-size: 0;
}

.hits-block__item {
	border: 1px solid #63686f;
	border-radius: 3px;
	padding: 15px 12px 12px 12px;
}

.hits-block__item-title {
	font-size: 18px;
	@include font(bold);
	color: #212832;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hits-block__item-description {
	font-size: 16px;
	color: #212832;
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hits-block__item_img-container {
	position: relative;
	height: 95px;
	margin-bottom: 5px;

	&.sun:before {
		@extend %pseudo;
		@include get-sprite($main-spr, sun);
		left: 0;
		top: 0;
	}
}

.hits-block__item-img-text {
	font-size: 16px;
	color: #212832;
	text-align: center;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
}

.hits-block__item-middle,
.hits-block__item-bottom {
	display: flex;
	justify-content: space-between;
}

.hits-block__item-count {
	font-size: 14px;
	color: #212832;
	line-height: 30px;
}

.hits-block__item-middle {
	margin-bottom: 20px;
}

.hits-block__item-price {
	font-size: 26px;
	color: $red;
	@include font(bold);

	.currency {
		color: #212832;
		font-size: 14px;
	}
}

.hits-block__item-buy-btn,
.hits-block__item-buy-btn:hover,
.hits-block__item-buy-btn:focus {
	border-radius: 3px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-transform: uppercase;
	@include font(bold);
	font-size: 14px;
	text-align: center;
	width: 100px;
}

.hits-block__item-img {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

/* hits-block ...end */

/* news-block */

.news-block {
	padding: 45px 0 30px 0;
	background: image-url('selection-bg.png');
}

.news-block__title {
	margin-bottom: 35px;
	font-size: 30px;
	text-align: center;
	@include font(bold);
	text-transform: uppercase;
}

.news-block__item {
	margin-bottom: 35px;
}

.news-block__link {
	@include linksHover();
}

.news-block__img-container {
	position: relative;
	margin-bottom: 25px;
}

.news-block__date {
	font-size: 14px;
	color: black;
	text-transform: uppercase;
	padding: 5px 10px;
	background: $orange;
	position: absolute;
	bottom: 0;
	left: 0;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 10px 13px;
		border-color: transparent transparent transparent $orange;
		left: 0;
		top: 100%;
	}
}

.news-block__description {
	font-size: 16px;
	@include font(bold);
	color: #212832;
	line-height: 22px;
}

.news-block__img {
	width: 100%;
}

.news-block__all-news-btn,
.news-block__all-news-btn:hover,
.news-block__all-news-btn:focus {
	color: $red;
	text-transform: uppercase;
	font-size: 16px;
	@include font(bold);
	@include linksHover();
}

/* news-block ... end */

/* expert-block */

.expert-block {
	.expert-block__top {
		.container {
			padding: 45px 480px 85px 15px;
		}
	}
}

.expert-block__exp {
	height: 40px;
	line-height: 38px;
	width: 220px;
	text-align: center;
	color: black;
	@include font(bold);
	font-size: 18px;
	border-radius: 3px;
	border: 2px solid $orange;
	margin-bottom: 20px;
}

.expert-block__title {
	font-size: 28px;
	color: #212832;
	@include font(bold);
	margin-bottom: 20px;
}

.expert-block__description {
	@include font(light);
	font-size: 34px;
	line-height: 48px;
	color: #212832;
	text-transform: uppercase;
}

.expert-block__bottom {
	background: $orange;
	padding: 20px 0;

	.container {
		position: relative;
	}
}

.expert-block__info {
	position: relative;
	padding-left: 100px;

	&:before {
		@extend %icons;
		left: 0;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 1px solid #8c6a08;
	}

	&:after {
		left: 21px;
		@extend %icons;
		@include get-sprite($main-spr, consult-phone);
	}
}

.expert-block__tel { 
	@include font(bold);
	font-size: 28px;
	color: #272b2f;
	margin-bottom: 5px;
	text-transform: uppercase;

	&:last-child {
		margin-bottom: 0;
	}
}

.expert-block__img-container {
	position: absolute;
	bottom: -20px;
	right: 0;
}

/* expert-block ... end */

/* seo-block */

.seo-block {
	background: image-url('selection-bg.png');
	padding-top: 70px;
}

.seo-block-container {
	background: #fff;
	padding: 35px 90px 30px 50px;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.09);
}

.seo-block__title {
	font-size: 30px;
	@include font(bold);
	text-transform: uppercase;
	color: $black;
	text-align: center;
	margin-bottom: 25px;
}

.seo-block__title_h3 {
	font-size: 24px;
	color: $black;
	margin-bottom: 15px;
}

.seo-block__description {
	font-size: 14px;
	color: $black;
	line-height: 25px;
}

.seo-block__article {
	margin-bottom: 50px;
}

.seo-block__bottom {
	position: relative;

	&:before {
		@extend %pseudo;
		width: 170px;
		height: 1px;
		background: #cccccc;
		top: -27px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.seo-block__title_h4 {
	text-align: center;
	text-transform: uppercase;
	color: $black;
	font-size: 18px;
	@include font(bold);
	margin-bottom: 35px;
}

.seo-block__popular-item {
	color: $black;
	font-size: 16px;
	margin-bottom: 15px;
	text-transform: uppercase;

	&:last-child {
		margin-bottom: 0;
	}
}

.seo-block__bottom-items {
	display: flex;
	justify-content: space-between;
}

/* seo-block ... end */



/* footer */

.footer {
	background: $blue;
}

.footer-top {
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid #93a5d3;
	display: flex;
	justify-content: space-between;
}

.footer-top__logo,
.footer-top__logo:hover,
.footer-top__logo:focus {
	height: 65px;
	width: 245px;
	line-height: 65px;
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
	@include font(bold);
	background: #fff;
	color: $black;
	margin-bottom: 25px;
}

.footer-top__title {
	font-size: 18px;
	text-transform: uppercase;
	@include font(bold);
	color: $orange;
	margin-bottom: 15px;
}

.footer-top__adress-item{
	@include font(bold);
	font-size: 14px;
	color: #93a5d3;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.footer-top__col_wheels {
	padding-left: 120px;
	position: relative;

	&:before {
		@extend %pseudo;
		background: image-url('footer-wheel.png') no-repeat;
		width: 111px;
		height: 140px;
		left: 0;
		top: 0;
	}
}

.footer-top__items-item {
	font-size: 16px;
	color: #93a5d3;
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer-top__col_disks {
	padding-left: 125px;
	position: relative;

	&:before {
		@extend %pseudo;
		background: image-url('footer-disc.png') no-repeat;
		width: 122px;
		height: 126px;
		left: 0;
		top: 0;
	}
}

.footer-top__nav-link,
.footer-top__items-link {
	@include linksHover();
}

.footer-top__nav-list {
	padding-right: 35px;
}

.footer-bottom {
	padding: 20px 0;
}

.footer-bottom__btn,
.footer-bottom__btn:hover,
.footer-bottom__btn:focus {
	width: 90px;
	@include linksHover();
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #e6e6e6;
	text-transform: uppercase;
	@include font(bold);
	font-size: 14px;
	color: #9b9b9b;
	margin-right: 10px;
	border-radius: 3px;
	display: inline-block;
}

.footer-bottom__copy {
	font-size: 14px;
	@include font(bold);
	color: #fff;
	padding: 10px 0;
}

/* footer ...end */


/* help modal */

.help-modal__dialog {
	position: absolute;
	max-width: 90%;
	width: 920px;
	left: 0;
	right: 0;
	margin: auto;
}

.help-modal__btn,
.help-modal__btn:hover,
.help-modal__btn:focus {
	position: absolute;
	top: 25px;
	right: 30px;
	padding: 5px;
	font-size: 16px;
	text-transform: uppercase;
	@include font(bold);
	color: #a8aaac;
	transition: all 0.3s;

	&:hover {
		color: black;
	}
}

/* help modal ... end */