$orange : #fcbf0f;
$red : #ff2f19;
$blue : #264ba6;

%icons { 		
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	transform: translateY(-50%);
}

%pseudo {
	position: absolute;
	display: block;
	content: "";
}

%center {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
}

// @include get-sprite($main-spr, arrow);
$main-spr : sprite-map('main-icons/*.png' , $spacing: 70px);
